body {
    font-size: 18px;
    font-family: sans-serif;
    color: rgb(78, 78, 78);
}
#form-content {
    max-width: 370px;
    margin: auto;
    border-radius: 30px;
    border: 2px solid rgb(0, 81, 255);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}

  .custom-select,
  .custom-select:focus {
    height: 40px; /* Ajusta la altura según tus necesidades */
    padding: 10px;
    width: 90%;
  }
  .custom-input {
    height: 40px; /* Ajusta la altura según tus necesidades */
    padding: 10px;
  }


  .contenedor-imagen{
    background-color: #3498db;
    border-radius: 28px 28px 0 0;
  }

  .contenedor-imagen img{
    padding: 30px;
  }

  .contenido{
    padding: 0 20px ;
  }


