
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    border-color: #ecf7ff;

}

.menu-toggle {
    position: fixed;
    top: 10px;
    right: 20px;
    cursor: pointer;
    z-index: 9999;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px 0;
    transition: 0.4s;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100vh;
    background-color: rgba(44, 62, 80, 0.7);
    ;
    transition: all 0.3s ease;
    z-index: 500;
}

.sidebar.active {
    left: 0;
}

.sidebar-item {
    margin-top: 10px;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 25px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.sidebar-item:hover {
    background: rgba(255, 255, 255, 0.2);
    color: white;
    text-decoration: none;
}

.menu-toggle.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

.content {
    display: flex; /*se agrega display flex para poder centrar el div tanto en movil como pc*/
    align-items: center;
    justify-content:center;
    padding: 10px;
}

.banner {

    height: 200px;
    width: 100%;
    background-color: #3498db;
    margin: auto;
    position: fixed;
    /* Fija el banner en la parte superior de la página */
    top: 0;
    /* Lo posiciona al principio de la página */
    left: 0;


}

.banner img {
    display: flex;
    justify-content: center;
    width: auto;
    height: 200px;
    margin: auto;
}




.reservas {
    width: 100%;
    margin: auto;
    margin-top: 205px;

}

#rutas {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 200px;


}

.rutas-reservas {
    margin-top: 20px;
}

#about {
    width: 100%;
    margin: auto;
    margin-top: 205px;
   

}

.destinos {
    width: 100%;
    color: white;
    text-align: center;
    padding: 0;



    background-color: #3498db;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);


}

.horarios {
    width: 100%;
    color: rgb(114, 114, 114);
    background: #fff;
    text-align: center;



    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 2px solid rgb(0, 81, 255);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}



.boton {
    background: #ffc72c;
    color: rgb(248, 247, 247);

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    margin-bottom: 4px;
    padding: 5px, 20px, 5px, 20px;
}

.boton:hover {
    background-color: rgb(160, 229, 160);
    color: blue;
}

a {
    text-decoration: none;
}

button {
    text-decoration-style: none;
    border: none;
}

spam {
    color: #ffc72c;
    font-size: 20px;
    font-weight: 100;
}

p {
    font-size: 20px;
}


.contenedor-rutas {
   
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 10px;
margin-bottom: 20px;
border: 2px solid rgb(0, 81, 255);
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
padding-top: 20px;
padding-bottom: 20px;

}
.contenedor-rutas img{
    padding: 10px;
}